#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #de2a42;
  }
  
  nav {
    padding: 30px;
  }
  
  nav a {
    font-weight: bold;
    color: #de2a42;
  }
  
  nav a.router-link-exact-active {
    color: #de2a42;
  }
 

body {
  background-image: url("../assets/bestgalspink.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-color: #fce7f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  color: #de2a42;
  font-size: small;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;   /* Height of the footer */
  background: #fbd9ee;
  padding: 3px;
}

footer a {
  color: #810919;
}

footer a:hover, nav a:hover {
  color: #fce7f4;
  background-color: #de2a42;
}

/*Desktop stuff*/ 

@media (min-width: 400px) {
  .wrapper {
      max-width: 600px;
  }  
}